<nb-card size="medium">
  <nb-card-body>
    <h6>Autocomplete Grouping</h6>
    <input
      [formControl]="inputFormControl"
      nbInput
      type="text"
      placeholder="Enter value"
      [nbAutocomplete]="auto"
    />

    <nb-autocomplete #auto>
      <nb-option-group
        *ngFor="let group of filteredGroups$ | async"
        [title]="getGroupKey(group)"
      >
        <nb-option *ngFor="let option of getGroupArray(group)" [value]="option">
          {{ option }}
        </nb-option>
      </nb-option-group>
    </nb-autocomplete>
  </nb-card-body>
</nb-card>
